ul{
    list-style-type: none;
}

li{
    display: inline ;
    padding: 1rem;
}


body{
    background-color: #c095a9;
    font-family: 'Courier New', Monospace;
    text-align: center;
}

a:hover{
    color: #a9165b;
}

a{
    color: rgb(106, 10, 55);
    text-decoration: none;
}

h1{
    color: rgb(63, 3, 31);
    font-family: 'Courier New', Monospace;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* espaço entre as imagens */
}

.galeria img{
    width: 300px;
    border-radius: 10%;
} 

img{
    border-radius: 10%; 
}

.galeria img:hover{
    transform: scale(1.05);
}

.contato img{
    height: 150px;
    border-radius: 50px;
    transition: transform 0.2s;
}

.contato img:hover{
   transform: scale(1.05);
}

img:hover{
    transform: scale(1.07);
}
